*.user
bin
obj
.vs
packages
/SharePortfolioManager/Documentation/API_Documentation.txt
/SharePortfolioManager/Documentation/Backup_2022_08_13_17_35_12.xml
/SharePortfolioManager/Documentation/Backup_2022_08_20_09_18_11.xml
/SharePortfolioManager/Documentation/Backup_2023_08_04_12_09_29.xml
/SharePortfolioManager/Documentation/Backup_2023_08_04_12_28_29.xml
/SharePortfolioManager/Documentation/Backup_2023_08_04_12_28_47.xml
/SharePortfolioManager/Documentation/Bugs/Verkaufsfehler
/SharePortfolioManager/Documentation/ShareList.xml
/SharePortfolioManager/Documentation/ShareList_Short.xml
/SharePortfolioManager/Documentation/ToDo.txt
