<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Portfolio></Portfolio>
	<Window>
		<PosX>0</PosX>
		<PosY>0</PosY>
		<Height>0</Height>
		<Width>0</Width>
		<State>Normal</State>
	</Window>
	<Language>English</Language>
	<StartNextShareUpdate>2000</StartNextShareUpdate>
	<StatusMessageClear>3000</StatusMessageClear>
	<Sounds>
		<UpdateFinished>UpdateFinished.wav</UpdateFinished>
		<UpdateFinishedEnabled>true</UpdateFinishedEnabled>
		<Error>Error.wav</Error>
		<ErrorEnabled>true</ErrorEnabled>
	</Sounds>
	<Charting>
		<Interval>Month</Interval>
		<Amount>2</Amount>
		<Colors>
			<DailyValues>
				<Closingprice>Black</Closingprice>
				<Openingprice>DarkGreen</Openingprice>
				<Top>DarkBlue</Top>
				<Bottom>DarkRed</Bottom>
				<Volume>Goldenrod</Volume>
			</DailyValues>
			<Information>
				<Buy>Blue</Buy>
				<Sale>Red</Sale>
			</Information>
		</Colors>
	</Charting>
	<Logger>
		<GUIEntries>20</GUIEntries>
		<LogToFileEnable>true</LogToFileEnable>
		<StoredLogFiles>25</StoredLogFiles>
		<LogCleanUpAtStartUpEnable>true</LogCleanUpAtStartUpEnable>
		<LogComponents>7</LogComponents>
		<LogLevels>31</LogLevels>
		<LogColors>
			<Start>Black</Start>
			<Info>Black</Info>
			<Warning>OrangeRed</Warning>
			<Error>Red</Error>
			<FatalError>DarkRed</FatalError>
		</LogColors>
	</Logger>
	<ShowExceptionMessages>true</ShowExceptionMessages>
	<Parser>
		<MarketValuesDebuggingEnable>false</MarketValuesDebuggingEnable>
		<DailyValuesDebuggingEnable>false</DailyValuesDebuggingEnable>
	</Parser>
</Settings>